
body{
    background-color: antiquewhite;
}

.father{
    height: 779px;
    width: 550px;
    overflow: hidden;
    background-color: white;
}

header{
    font-family: "Inter";
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #FFFFFF;
    background-image: url("/images/header-img.jpg");
    background-color: blueviolet;
    height: 208px;
    width: 550;
    background-size: cover;
    background-position-y: 90%;
}

#watchlistEl{
    cursor: pointer;
}

#watchlistEl:hover{
    transform:scale(1.03);
    color: rgb(255, 229, 63);
}

header h1{
    font-size: 42.79px;
    font-weight: 900;
    letter-spacing: -4.5%;
    line-height: 23.8px;
    padding-left: 42px;
}

header p{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding-right: 46px;
}

.search-div{
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    width: 462px;
    height: 38px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    margin-top: -20px;
}

.search-div input{
    border: none;
    width: 293px;
    font-family: "Inter";
    color: #6B7280;
    font-weight: 500;
    font-size: 14px;
 
}

.search-div input:focus{
    border: none;
    outline: none;
}

.search-div button{
    border: none;
    background: none;
    width: 120px;
    font-size: 14px;
    line-height: 20px;
    color: #374151;
    font-weight: 500;
    border-left: 1px solid #D1D5DB;
    font-family: "Inter";
    background-color: #F9FAFB;
    margin: 0;
    align-self: stretch;
    height: 100%;
    cursor: pointer;
}

.search-div button:hover{
    color: rgb(77, 95, 89);
    transform: scale(1.03);
}

.search-div svg{
    margin: 9px 8px 9px 13px;
    align-self: center;
}


/* movie card */

main{
    height: 571px;
    max-height: 571px;
    overflow-y: scroll;
    overflow: hidden;
    background-image: url("/images/no-data-initial.png");
    background-repeat: no-repeat;
    background-position: center;
}


.grid-card{
    display: flex;
    width: 462px;
    margin: 0 auto;
    font-family: "Inter";
    line-height: 20px;
    align-items: center;
    margin-bottom: 20.59px;
    border-bottom: 1.5px solid #E5E7EB;
    padding-bottom: 20.59px;
    margin-top: 21px;
    
}

.grid-card:first-child{
    margin-top: 44px;
}

.grid-card:last-child{
    border-bottom: none;
}

.grid-card img{
    margin-right: 21px;
    height: 147.41px;
    width: 99px;
    object-fit: cover;
}

.movie-card{
    display: flex;
    flex-direction: column;
    
}

.movie-title{
    display: flex;
    align-items: center;
}



.movie-title h2{
    font-size: 18px;
    font-weight: 500;
    margin: 0 8px 0 0;
}

.movie-title p{
    font-size: 12px;
    margin: 0;
}

.movie-title svg{
    margin: 0 4px 0 0;
}

.movie-info{
    display: flex;
}

/* movie info */

.movie-info{
color: #111827;
font-size: 12px;
align-items: center;
}


.minutes-label{
    margin: 0;
}

.genre-label{
    margin-left: 19px;
    margin-right: 30px;
    margin-top: 11px;
    margin-bottom: 8px;

}

.watchlist-label{
    margin: 0;
}

.movie-info svg{
    margin-right: 5px;
    margin-bottom: 0;
}

.movie-description p{
color: #6B7280;
font-size: 14px;
margin: 0;

}